<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="menu_items">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for menu_item in menu_items %}
          <li class="nav-item">
            <a class="nav-link text-reset" href="{{ menu_item.link }}">{{ menu_item.text }}</a>
          </li>
        {% endfor %}

<!--        class="nav-item"-->
<!--        class="nav-link"-->
      </ul>
        </div>
    </div>
  </div>
  <button class="btn text-reset mt-2" id="light" onclick="light()" type="submit">Тема</button>
</nav>
<!--class="btn text-reset mt-2"-->