.base {
  min-height: calc(100vh - 200px);
  padding-bottom: 80px;
  margin-bottom: 20px;
}

footer {
  position: static !important;
  margin-top: 20px;
}

.btn {
  white-space: nowrap;
  min-width: 120px;
}

.text_container {
  font-size: 1.3vh;
}
